*.sdf
*.suo
*.user
*.opensdf
maps.7z
database/test.txt
Debug/**
Release/**
lib/**
*.exp
maps/tiles/tiles.7z
*.db-journal
xml/options.xml
xml/options.xml
dbeditor/database_errors.txt
dbeditor/CSV's/acoustic_noise.csv
dbeditor/CSV's/air.csv
dbeditor/CSV's/air_complement.csv
dbeditor/CSV's/ballistic.csv
dbeditor/CSV's/ballistic_missile.csv
dbeditor/CSV's/cm.csv
dbeditor/CSV's/country_data.csv
dbeditor/CSV's/country_names.csv
dbeditor/CSV's/cross_reference.csv
dbeditor/CSV's/damage_effect.csv
dbeditor/CSV's/ecm.csv
dbeditor/CSV's/esm.csv
dbeditor/CSV's/flightport.csv
dbeditor/CSV's/fueltank.csv
dbeditor/CSV's/ground.csv
dbeditor/CSV's/item.csv
dbeditor/CSV's/launcher_configuration.csv
dbeditor/CSV's/launcher_loadout.csv
dbeditor/CSV's/magazine_loadout.csv
dbeditor/CSV's/missile.csv
dbeditor/CSV's/platform_magazine.csv
dbeditor/CSV's/platform_setup.csv
dbeditor/CSV's/signature.csv
dbeditor/CSV's/stores.csv
dbeditor/CSV's/Version.csv
dbeditor/CSV's/optical.csv
dbeditor/CSV's/platform_sensor.csv
dbeditor/CSV's/ship.csv
dbeditor/CSV's/sub.csv
dbeditor/CSV's/opticalkb.csv
dbeditor/CSV's/radarkb.csv
dbeditor/CSV's/sonobuoy.csv
dbeditor/CSV's/platform_launcher.csv
dbeditor/CSV's/platform_names.csv
dbeditor/CSV's/radar.csv
dbeditor/CSV's/simpleair.csv
dbeditor/CSV's/sonar.csv
dbeditor/CSV's/torpedo.csv
dbeditor/CSV's/weapon_damage.csv